# SAP S/4HANA conexión
SAP_BASE_URL=https://vhvogwp1wd01.sap.caairports.com:44380
SAP_CLIENT=500
SAP_USER=tu_usuario_sap
SAP_PASSWORD=tu_password_sap
SAP_LANGUAGE=ES

# Servidor local
PORT=3000

# Deshabilitar verificación SSL si el cert es autofirmado (solo en red interna)
NODE_TLS_REJECT_UNAUTHORIZED=0
